.brandphoto{
	max-height:100%;
}
.body{
	padding-top: 50px
}
.navbar {
  background: #e16879;
}
 
.img{
	max-width: 100%;
	margin-bottom:10px;
	border-style: solid;
	border-radius: 15px;
	border-width:2px;
	border-color:black;

}

h1{font-family: 'Lobster', cursive;
font-size: 30px;
text-shadow: 4px 4px 4px #aaa；
}

.style {
text-align: center;
}

